<!--<div class="jumbtron py-3" >
  <h1 class="display-4 text-center">
  </h1>
</div>-->

<div class="row">
  <div class="col-md-6">
    <app-add-edit-dep></app-add-edit-dep>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
    </div>
      <table class="table table-dark table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col" [appSortParams]=" service.list" data-order="asc" data-name="departmentid">DepartmentId</th>
            <th  scope="col" [appSortParams]=" service.list" data-order="desc" data-name="departmentname">DepartmentName</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let pd of  service.list | Filter:filterTerm ">
            <td (click)="populateForm(pd)">{{pd.departmentid}}</td>
            <td (click)="populateForm(pd)" >{{pd.departmentname}}</td>

            <td>
              <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.departmentid)"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>



